@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(95, 91, 86);
}
.pdf {
    width: 230mm;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    font-size: 16px;  
  }
  .h1pdf{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
   
  }
  .container{
    height: 100vh;
    width: 80vh;
  }
  .hidden{
    height: 0;
    width: 0;
  }